body {
    background-color: black;
    color: white;
    font-family: Avenir;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    text-decoration: none;
    overflow-x: hidden;
}

#menu {
    opacity: 1;
    z-index: 3;
    transition: opacity;
    position: relative;
}

.logo {
    width: 35%;
    margin-bottom: 100px;
}

.nomMenu {
    font-size: 3rem;
}

.nomMenu:hover {
    color: #ED6D17;
    cursor: pointer;
}

#galeria {
    opacity: 0;
    z-index: 2;
    transition: opacity;
    position: relative;
    display: none;
    margin-top: 2%;
}

.galeriaCartas {
    margin-top: 80px;
}

.textGaleria {
        margin-top: 20px;
}

.textCreditos {
        margin-top: 35px;
}

#back {
    width: 50px;
    cursor: pointer;
    position: absolute;
    margin-left: -20vw;
}

.margen {
    margin-top: 20%;
}

.nomCredit {
    font-size: 3rem;
}

#creditos {
    display: none;
    width: 100vw;
    height: 100vh;
    margin-top: 2%;
}


/*JUEGO*/
.entendido {
    color: #ED6D17;
    background-color: transparent;
    border-color: transparent;
    font-size: 2rem;
    margin-top: 3%;
}

.entendido:hover {
    color: white;
}

#juego {
    opacity: 0;
    z-index: 2;
    transition: opacity;
    position: relative;
    display: none;
    overflow: hidden;
}

.apuestaTexto,
.cartaFinal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}

.cartaFinal {
    display: none;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: black;
    flex-direction: row;
}

.ladoDer,
.ladoIzq {
    flex-direction: row;
}

.ladoDer {
    padding-left: 15%;
}

.ladoIzq {
    padding-right: 15%;
}

#carta0,
#carta1 {
    background-color: #ED6D17;
    width: 60%;
    border-radius: 5%;
}

#carta0:hover,
#carta1:hover {
    box-shadow: 0px 0px 40px 40px #ED6D17;
    cursor: pointer;
}

#carta0 img,
#carta1 img {
    width: 100%;
    border-radius: 5%;
}

.imgCartas {
    width: 100%;
    margin: 10px;
}

.gif {
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: zIndex 2s;
    display: none;
}

.gif img {
    border-radius: 5%;
    width: 40%;
    border: 5px solid #ED6D17;
}

.txt {
    position: absolute;
    opacity: 0;
    transition: opacity 4s;

}

#boton {
    top: 60%;
    opacity: 0;
}

h3 {
    font-size: 4.5rem;
    text-align: center;
}

h4 {
    font-size: 4.5rem;
    text-align: center;
     margin: 0;
}

a:link {
    text-decoration: none;
}

p,
.volver {
    font-size: 2.5rem;
}

.volver {
    color: #ED6D17;
}


p:hover {
    color: #fff;
}

#apuesta {
    transition: 1s;
}


.winner {
    box-Shadow: 0px 0px 40px 40px #ED6D17 !important;
    pointer-events: none;
    transition-delay: 3s;
}

.loser {
    opacity: .5;
    filter: grayscale;
    width: 30% !important;
    pointer-events: none;
    transition: width 5s;
    transition-delay: 3s;
}


/*movil*/
@media (max-width: 575.98px) {
    main {
        flex-direction: column;
}

    .col {
        flex: 0 0 100%;
        max-width: 100%;
}

    .nomCredit {
        font-size: 2rem;
}

    .ladoDer {
        padding-left: 0;
        padding-right: 0;
}

    .ladoIzq {
        align-items: flex-start !important;
        padding-left: 0;
        padding-right: 0;
}
    
    #back {
        margin-left: -30vw;
         width: 20px;
}

    .carta {
        width: 150%;
       
}

    #carta0,
    #carta1 {
        width: 90%;
        background-color: none;
}

    .gif {
        position: absolute;
        width: 180%;
        z-index: 1;
        transition: zIndex 2s;
        display: none;
        top: 25%;
}

    h3 {
        font-size: 1.8rem;
        margin: 10%;
}

    h4 {
        font-size: 2rem;
        margin: 0;
}

    .margen {
        margin-top: 60%;
}

    .nomMenu {
        font-size: 2rem;
}

    .logo {
        width: 55%;
        margin-bottom: 80px;
}

    .galeriaCartas {
        margin-top: 40px;
}
    
    .textGaleria {
        margin-top: 40px;
}
    
    .textCreditos {
        margin-top: 45px;
}

    .volver {
        font-size: 1.2rem;
        margin-top: 0;
}

    #txtFinal {
        font-size: 2.5rem;
        margin: 30px;
}

    .entendido {
        color: #ED6D17;
        background-color: transparent;
        border-color: transparent;
        font-size: 1.8rem;
        margin-top: -20px;
}
}


/*tablet*/
@media (min-width: 768px) and (max-width: 991.98px) {
    main {
        flex-direction: column;
}

    .col {
        flex: 0 0 50%;
        max-width: 50%;
}


    .carta {
        width: 90%;
}

    .gif {
        position: absolute;
        width: 180%;
        z-index: 1;
        transition: zIndex 2s;
        display: none;
        top: 25%;
}

    .ladoDer {
        padding-left: 0%;
        padding-right: 0%;
}

    .ladoIzq {
        padding-left: 0%;
        padding-right: 0%;
}

    h3 {
        font-size: 3rem;
        margin: 15%;
}

    h4 {
        font-size: 3rem;
}
    
    .margen {
        margin-top: 40%;
}

    .galeriaCartas {
        margin-top: 40px;
}

    .textGaleria {
        margin-top: 40px;
}
    
       .textCreditos {
        margin-top: 50px;
}

    #carta0:hover,
    #carta1:hover {
        box-shadow: none;

}
    
    #back {
        margin-left: -30vw;
        width: 35px;

}

    #boton {
        top: 55%;
}
    
    .entendido {
        color: #ED6D17;
        background-color: transparent;
        border-color: transparent;
        font-size: 2.4rem;
        margin-top: -50px;
}

    p,
    .volver {
        font-size: 2rem;
}

    #txtFinal {
        font-size: 3rem;
        margin: 30px;
}
}

